Repository FreakinWard/nextjs-boilerplate: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

.pipelines/app/azure-pipeline-build.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yml

.pipelines/app/azure-pipelines-release.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: stageBuild
    displayName: Build
    jobs:
    - template: templates/build.yml
  - stage: stageDeployDev
    displayName: Dev
    dependsOn: stageBuild
  ...

.pipelines/resources/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    jobs:
    - template: templates/validate.yml
      parameters:
        serviceConnection: $(serviceConnection)
        environmentTypes:
        - Dev
        regions:
        - East
    - template: templates/validate.yml
      parameters:
  ...

refactor: dropped App suffix
  src/Features/Home/components/RenderExamples.tsx
  src/app/health/components/HealthEnvironmentVariables.tsx
  src/app/health/components/HealthMetricItem.tsx
  src/app/health/components/HealthMetrics.tsx
  src/app/health/page.tsx
  src/app/secured/components/InformationBlock.tsx
  src/app/secured/components/UserName.tsx
  src/app/secured/layout.tsx
  src/app/secured/page.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

feat: nextjs 13 app router example - healthApp
  next-env.d.ts
  next.config.js
  src/app/healthApp/components/HealthEnvironmentVariables.tsx
  src/app/healthApp/components/HealthMetricItem.tsx
  src/app/healthApp/components/HealthMetrics.tsx
  src/app/healthApp/layout.tsx
  src/app/healthApp/page.tsx
  src/context/AppStateApp.tsx
  tsconfig.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

ci: fix resource group check
  .pipelines/resources/templates/azDeploy.yml
Due: .pipelines/resources/azure-pipelines.yml

chore: package cleanup
  .idea/next-typescript-example.iml
  .vscode/settings.json
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

refactor: will now use next Link instead of html a href
  src/Features/Home/components/InformationBlock.tsx
  src/Features/Secured/components/InformationBlock.tsx
  src/components/Layout/Footer.tsx
  src/components/Layout/Header.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

refactor: moved api routes to app router
  .eslintrc.js
  next-env.d.ts
  package-lock.json
  package.json
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/health/__tests__/health.test.ts
  src/app/api/health/route.ts
  src/app/api/posts/__tests__/posts.test.ts
  src/app/api/posts/route.ts
  src/pages/_app.tsx
  src/pages/api/posts.ts
  src/pages/health.tsx
  src/pages/secured.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

ci: supplied NEXT_AUTH_URL
  .pipelines/app/templates/build.yml
Due: .pipelines/resources/azure-pipelines.yml

refactor: lifted out Secured into a feature
  .eslintrc.js
  src/Features/Secured/Secured.tsx
  src/Features/Secured/components/InformationBlock.tsx
  src/Features/Secured/components/UserName.tsx
  src/Features/Secured/index.tsx
  src/app/secured/page.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

ci: disabled tests while testing server components
  .pipelines/app/templates/build.yml
Due: .pipelines/resources/azure-pipelines.yml

test: cleaned up health tests
  cypress/e2e/health.cy.js
  src/Features/Health/__tests__/Health.test.tsx
  src/app/health/page.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: removed webstorm ide runner script for npm dev config
  .idea/runConfigurations/dev.xml
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

feat: nextjs 13 app router example - home
  src/Features/Home/Home.tsx
  src/Features/Home/components/Posts/ClientPosts.tsx
  src/Features/Home/components/Posts/ServerPosts.tsx
  src/Features/Home/components/RenderExamples.tsx
  src/__tests__/pages/index.test.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/securedApp/layout.tsx
  src/pages/index.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

msw - failing
  package-lock.json
  package.json
  src/Features/Home/components/Posts/ServerPosts.tsx
  src/app/layout.tsx
  src/context/AppStateApp.tsx
  src/core/msw/handlers.ts
  src/core/msw/index.ts
  src/core/msw/seed/seedPosts.ts
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

service connection name
  src/Features/Home/components/Posts/Posts.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

service connection name
  package-lock.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

Update settings.json
  .vscode/settings.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm update minor
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm update major
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm update devDependencies
  .idea/next-typescript-example.iml
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

rollback: cypress
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build(npmInstall.yml): will now require 16.19.x
  .pipelines/app/templates/npmInstall.yml
Due: .pipelines/resources/azure-pipelines.yml

build: typescript working w/lint
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

Chore/package updates - minor (#64)
  .idea/next-typescript-example.iml
  .pipelines/app/templates/npmInstall.yml
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

chore: remove storybook
  .github/workflows/storybook.yml
  .storybook/main.js
  .storybook/preview.js
  README.md
  package-lock.json
  package.json
  src/Features/Home/components/Posts/Posts.stories.js
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: remove storybook (#65)
  .github/workflows/storybook.yml
  .storybook/main.js
  .storybook/preview.js
  README.md
  package-lock.json
  package.json
  src/Features/Home/components/Posts/Posts.stories.js
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build: will now use node 18 & npm 9
  .pipelines/app/templates/npmInstall.yml
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

build: will now use node 18 & npm 10
  .pipelines/app/templates/npmInstall.yml
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

build: will now use node 18.17.1 & npm 9
  .github/workflows/coverage.yml
  .pipelines/app/templates/npmInstall.yml
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

Chore/npm 18 upgrade (#66)
  .github/workflows/coverage.yml
  .pipelines/app/templates/npmInstall.yml
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

chore: npm upgrade cypress 13
  package-lock.json
  package.json
  public/mockServiceWorker.js
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: webstorm file exclusions
  .idea/next-typescript-example.iml
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm upgrade next 14
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm upgrade jest
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm upgrade prettier 3
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm upgrade junit & lint-staged
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: npm upgrade start-server-and-test
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

chore: will now check prevent deprecation
  .eslintignore
  .eslintrc.js
  package-lock.json
  package.json
  src/components/AppHead/__tests__/AppHead.test.tsx
  src/components/AppTelemetry/__tests__/TelemetryProvider.test.tsx
  src/core/msw/seed/seedStyleMedia.ts
  src/core/test.utils.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

docs: package update documentation
  README.md
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build: organized devDependencies
  package-lock.json
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

Path conditions:
  .pipelines/app/azure-pipeline-build.yml: any file but: .pipelines
  .pipelines/app/azure-pipelines-release.yml: any file but: .pipelines
  .pipelines/resources/azure-pipelines.yml: any of: .pipelines
