Repository FreakinWard/nextjs-boilerplate: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

.pipelines/app/azure-pipeline-build.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yml

.pipelines/app/azure-pipelines-release.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: stageBuild
    displayName: Build
    jobs:
    - template: templates/build.yml
  - stage: stageDeployDev
    displayName: Dev
    dependsOn: stageBuild
  ...

.pipelines/resources/azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate
    jobs:
    - template: templates/validate.yml
      parameters:
        serviceConnection: $(serviceConnection)
        environmentTypes:
        - Dev
        regions:
        - East
    - template: templates/validate.yml
      parameters:
  ...

keyVaultVariables.yml
  .pipelines/app/templates/deployStaticSite.yml
  .pipelines/app/templates/keyVaultVariables.yml
Due: .pipelines/resources/azure-pipelines.yml

fix: html report tab names, possible?
  .pipelines/app/templates/build.yml
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

build: will not deploy to branch
  .pipelines/app/templates/deployStaticSite.yml
Due: .pipelines/resources/azure-pipelines.yml

chore: .editorconfig
  .editconfig
  .prettierignore
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

cleanup
  .pipelines/app/templates/build.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: now supports azure static app server-side render (#63)
  .editconfig
  .gitignore
  .pipelines/app/README.md
  .pipelines/app/azure-pipelines-release.yml
  .pipelines/app/templates/build.yml
  .pipelines/app/templates/deployAppService.yml
  .pipelines/app/templates/deployStaticSite.yml
  .pipelines/app/templates/e2eTest.yml
  .pipelines/app/templates/keyVaultVariables.yml
  .pipelines/config.yml
  .pipelines/resources/azure-pipelines.yml
  .pipelines/resources/bicep/appInsights.bicep
  .pipelines/resources/bicep/main.bicep
  .pipelines/resources/bicep/staticSite.bicep
  .prettierignore
  README.md
  next.config.js
  package-lock.json
  package.json
  src/__tests__/pages/api/health.test.ts
  src/core/test.utils.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

Update README.md
  README.md
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

feat: deploy to static app
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: deploy to static app
  .pipelines/app/templates/build.yml
Due: .pipelines/resources/azure-pipelines.yml

build: cleanup
  .pipelines/app/templates/deployStaticApp.yml
  .pipelines/app/templates/smokeTest.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: deploy to static app - standalone - increase timeout
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: production_branch & env variable
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: deploy to static app - standalone - remove slotName
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: deploy to static app - standalone - increase timeout
  .pipelines/app/templates/smokeTest.yml
Due: .pipelines/resources/azure-pipelines.yml

fix: should no longer deploy to preview environment
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

build: CYPRESS_INSTALL_BINARY=0
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: deploy to static app - standalone
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

feat: deploy to static app - standalone - add slotName
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

build: default install
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

build: remove post build
  package.json
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build: ignore-scripts
  .pipelines/app/templates/build.yml
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

feat: set install script to echo skip-install
  .pipelines/app/templates/build.yml
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

build: cleanup 2
  .pipelines/app/templates/deployStaticApp.yml
Due: .pipelines/resources/azure-pipelines.yml

build: build variables
  .pipelines/app/templates/e2eTest.yml
Due: .pipelines/resources/azure-pipelines.yml

build: build variables 2
  .pipelines/app/templates/keyVaultVariables.yml
Due: .pipelines/resources/azure-pipelines.yml

build: build variables 3
  .pipelines/app/templates/e2eTest.yml
Due: .pipelines/resources/azure-pipelines.yml

build: build variables 3 - service connection
  .pipelines/app/templates/keyVaultVariables.yml
Due: .pipelines/resources/azure-pipelines.yml

build: build variables 3 - health
  src/__tests__/pages/api/health.test.ts
  src/pages/api/health.ts
  src/pages/health.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build: build variables 3 - health
  src/__tests__/pages/api/health.test.ts
  src/pages/api/health.ts
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build: build variables 3 - health
  .pipelines/app/templates/deployStaticSite.yml
  next.config.js
  src/__tests__/pages/api/health.test.ts
  src/pages/api/health.ts
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

build: build variables 3 - health
  next.config.js
  src/pages/health.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

build: build variables 3 - health
  .pipelines/app/templates/deployStaticSite.yml
  next.config.js
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml, .pipelines/resources/azure-pipelines.yml

build: service connection
  .pipelines/app/templates/deployStaticSite.yml
Due: .pipelines/resources/azure-pipelines.yml

test: cleaned up Secured tests
  src/Features/Secured/Secured.tsx
  src/Features/Secured/__tests__/Secured.test.tsx
  src/Features/Secured/components/UserName.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

feat: nextjs 13 app router example - securedApp
  src/app/securedApp/components/InformationBlock.tsx
  src/app/securedApp/components/UserName.tsx
  src/app/securedApp/layout.tsx
  src/app/securedApp/page.tsx
  src/context/AuthContext/AuthContext.tsx
  src/context/AuthContext/AuthGuard.tsx
  src/context/AuthContext/index.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-brave-tree-02e03330f.yml
  src/pages/health.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

refactor: lifted out Health into a feature and co-located hooks
  src/Features/Health/Health.tsx
  src/Features/Health/components/HealthEnvironmentVariables.tsx
  src/Features/Health/components/HealthMetricItem.tsx
  src/Features/Health/components/HealthMetrics.tsx
  src/Features/Health/hooks/__tests__/useHealth.test.ts
  src/Features/Health/hooks/useHealth.ts
  src/Features/Health/index.tsx
  src/Features/Home/components/Posts/ClientPosts.tsx
  src/Features/Home/hooks/__tests__/usePosts.test.ts
  src/Features/Home/hooks/usePosts.ts
  src/app/health/page.tsx
Due: .pipelines/app/azure-pipeline-build.yml, .pipelines/app/azure-pipelines-release.yml

Path conditions:
  .pipelines/app/azure-pipeline-build.yml: any file but: .pipelines
  .pipelines/app/azure-pipelines-release.yml: any file but: .pipelines
  .pipelines/resources/azure-pipelines.yml: any of: .pipelines
